@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h1>Recipes</h1>
@* <h1>Recipes for @User.Identity.Name</h1> *@

@if (Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Description}", "Details", new { id = recipe.RecipeId }) Rating: $"{recipe.Rating}"</li>
    }
  </ul>
} 
else
{
  <h3>No recipes have been added yet!</h3>
}

<p>@Html.ActionLink("Add new recipe", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>